<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  
  <h1>Body Mass Index</h1>
  <div id="app">
    <span>Waga: </span>
    <input type="number" v-model="weight"> kg<br>
    <span>Wzrost: </span>
    <input type="number" v-model="height"> cm
    <p>Wskaźnik BMI: <div v-if="weight == '' || height == ''">Wpisz wartości</div><div v-else>{{ bmi.toFixed(2) }}</div></p>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
       weight: '',
       height: '' 
      },
      computed: {
        bmi: function(){
          return this.weight/Math.pow(this.height/100,2)
        }
      }
    });
  </script>

</body>
</html>